.banner{
    background:url('/assets/images/Banner.png');
    background-color: white;
    background-size: cover;
    height: 400px;
    margin: auto;
    margin-top: 8px;
    width: 95%;
    // border: grey solid 0.75px;
    // border-radius: .5%;
}